.item-card {
  background: #dddddd;
  border: 1px solid #999999;
  padding: 10px;
  width: 200px;
  float: left;
  margin: 0 10px 10px 0;
  .name{
    font-size: 150%;
    font-weight: bolt;

    a {
      color: black;
      &:hover {
        text-decoration: none;

      }
    }


  }
     .price {
       color: green;

       .name {
         color: red;

       }

     }
}
